<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwt.necremote">
    <!-- 红外遥控 -->
    <uses-permission android:name="android.permission.TRANSMIT_IR" /> <!-- 是否仅在支持红外的设备上运行 -->
    <!-- 是否仅在支持红外的设备上运行 -->
    <uses-feature
        android:name="android.hardware.ConsumerIrManager"
        android:required="false" /> <!-- 更新权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/netwrok_securit_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SendCodeActivity"
            android:exported="true" />
        <activity android:name=".ToptechActivity"></activity>
        <activity android:name=".NetworkRemoteActivity" />
        <activity android:name=".IRallActivity" />
        <activity android:name=".CreateMemoteActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>